.form {
    width: 29%;
    margin: auto;
    text-align: left;
    box-sizing: border-box;
}
.form h4 {
    text-align: center;
}
.form label {

margin-right: 20px;
margin-bottom: 10px;
}
.form input {
    text-align: right;
  
    margin-bottom: 10px;
}
.form input:last-child{
    margin-left: 200px;
}